body{
    background-color: darkcyan;
}

.w-100 {
    height: 500px;
}

.navbar-brand {
    color: darkcyan!important;
    font-size: 2em;
    font-family: fantasy;
    padding-top: 15px;
    padding-bottom: 0px;
}

.dropdown-menu {
    background-color: darkcyan;
    font-weight: bold;
}

.table {
    border-top: solid 2px lightgrey;
    margin-right: 100px;
}

#carouselExampleFade {
    border-top: solid 2px lightgrey;
}
